

<ol class="breadcrumb">
    <li><a href="/view?repo={{repo}}&tree={{ branch }}">{{ repo }}</a></li>
   
    <div class="pull-right">
        <div class="btn-group download-buttons">
            <button type="button" href="" class="btn btn-default btn-xs" title="Download '{{ branch }}' as a ZIP archive">ZIP</button>
            <button type="button" href="" class="btn btn-default btn-xs" title="Download '{{ branch }}' as a TAR archive">TAR</button>
            <a href=""><span class="fa fa-rss rss-icon"></span></a>
        </div>
    </div>
</ol>

