{{> html_header }}

{{> navigation }}
<div class="container">

{{> header }}
{{> breadcrumb }}

{{#if commits }}
    {{#each commits}}
        <table class="table table-striped commits">
            <thead>
                <tr>
                    <th colspan="3">{{ this.dateCommit }}</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.commit }}
                <tr>
                    <td width="5%"><img src="https://gravatar.com/avatar/{{authorMD5}}?s=40" /></td>
                    <td width="95%">
                        <span class="pull-right"><a class="btn btn-default btn-sm" href=""><span class="fa fa-list-alt"></span> View {{ short_hash }}</a></span>
                        <h4>{{ message }}</h4>
                        <span><a href="">{{ author }}</a> authored on {{ dateCommit }}</span>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{/each}}
{{else}}
    <p>No results found.</p>
{{/if}}


{{> html_footer }}