{{> html_header }}

{{> navigation }}
<div class="container">

{{> header }}
{{> breadcrumb }}

{{#if user }}
    <table class="table stats">
            <thead>
                <tr>
                    <th colspan="3">Clone Repos</th>
                </tr>
            </thead>
            <tbody style="padding:8px">
                <tr>
                    <td style="text-align:center;width:33.3%">
                        <a href="smartgit://cloneRepo/http://{{domain}}/git/{{user.api}}/{{repo}}.git" type="button" class="btn btn-default" >SmartGit</a>
                    </td>
                    <td style="text-align:center;width:33.3%">
                        <a href="sourcetree://cloneRepo/http://{{domain}}/git/{{user.api}}/{{repo}}.git" type="button" class="btn btn-default" >SourceTree</a>
                    </td>
                    <td style="text-align:center;width:33.3%"> 
                        <a href="github-windows://openRepo/http://{{domain}}/git/{{user.api}}/{{repo}}.git" type="button" class="btn btn-default" >GitHub</a>
                    </td>
                </tr>

            </tbody>
        </table>
{{/if}}
{{#if files }}
    <table class="table tree">
        <thead>
            <tr>
                <th width="80%">Name</th>
                <th width="10%">Mode</th>
                <th width="10%">Size</th>
            </tr>
        </thead>
        <tbody>
            {{#each files}}
                <tr>
                    <td>
                        {{#eq type "tree"}}
                            <span class="fa fa-folder-open"></span> <a href="/view?repo={{../repo}}&path={{../repopath}}/{{ name }}&tree={{../branch }}">{{ name }}</a>
                        {{/eq}}
                        {{#eq type "folder"}}
                            <span class="fa fa-folder-open"></span> <a href="">{{ name }}</a>
                        {{/eq}}
                        {{#eq type "symlink"}}
                            <span class="fa fa-folder-open"></span> <a href="">{{ name }}</a>
                        {{/eq}}
                        {{#eq type "blob"}}
                            <span class="fa fa-file"></span> <a href="">{{ name }}</a>
                        {{/eq}}

                    </td>
                <td>{{ mode }}</td>
                <td></td>
            </tr>
                </tr>
            {{/each}}
        </tbody>
    </table>

    {{#if readme }}
    <div class="readme-view">
        <div class="md-header">
            <span class="meta">{{ readme.filename }}</span>
        </div>
        <div id="md-content">{{ readme.content }}</div>
    </div>
{{/if}}

{{else}}
    <p>This repository is empty.</p>
{{/if}}


{{> html_footer }}